<section class="">
  <!-- Footer -->
  <footer class="text-white text-center text-lg-start pt-5">
    <!-- Grid container -->
    <div class="container p-4">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4 mb-md-0 text-center">
          <h5 class="text-uppercase fs-2">LOCATION</h5>

          <p>2215 John Daniel Drive</p>
          <p>Clark, MO 65243</p>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4 mb-md-0 text-center">
          <h5 class="text-uppercase fs-2">AROUND THE WEB</h5>

          <section class="mb-4 text-white">
            <!-- Facebook -->
            <a
              class="btn text-white btn-floating m-1 border border-light rounded-circle"
              href="#!"
              role="button"
              ><i class="fab fa-facebook-f"></i
            ></a>

            <!-- Twitter -->
            <a
              class="btn text-white btn-floating m-1 border border-light rounded-circle"
              href="#!"
              role="button"
              ><i class="fab fa-twitter"></i
            ></a>

            <!-- Google -->
            <a
              class="btn text-white btn-floating m-1 border border-light rounded-circle"
              href="#!"
              role="button"
              ><i class="fab fa-google"></i
            ></a>

            <!-- Linkedin -->
            <a
              class="btn text-white btn-floating m-1 border border-light rounded-circle"
              href="#!"
              role="button"
              ><i class="fab fa-linkedin"></i
            ></a>
          </section>
          <!-- Section: Social media -->
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4 mb-md-0 text-center">
          <h5 class="text-uppercase fs-3">ABOUT FREELANCER</h5>

          <p class="">
            Freelance is a free to use, licensed Bootstrap theme created by
            Route
          </p>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3 mt-5 second-color copyright">
      Copyright © Your Website 2021
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
</section>
