<section>
  <app-title>
    <h1>contact section</h1>
  </app-title>

  <form class="w-75 p-5 m-5 mx-auto">
    <div class="mb-3">
      <input
        type="text"
        class="form-control p-2"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        placeholder="userName"
      />
    </div>
    <div class="my-4">
      <input
        type="text"
        class="form-control p-2"
        id="exampleInputPassword1"
        placeholder="userAge"
      />
    </div>

    <div class="my-4">
      <input
        type="email"
        class="form-control p-2"
        id="exampleInputPassword1"
        placeholder="userEmail"
      />
    </div>
    <div class="mb-3">
      <input
        type="password"
        class="form-control p-2"
        id="exampleInputPassword1"
        placeholder="userPassword"
      />
    </div>

    <button
      type="submit"
      class="btn main-color text-white px-3 fw-bold p-2 my-2"
    >
      Send Message
    </button>
  </form>
</section>
